/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed;
  background: var(--global-bg-color);
  height: fit-content;
  top: 0;
  width: 100%;

  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    background: var(--global-border-color);
    width: 100%;
  }

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 0.5em 1em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  background-color: var(--global-bg-color);
  display: block;
  list-style-type: none;
  white-space: nowrap;
  position: relative;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }

  &--has-children {
    > a {
      position: relative;
      padding-right: 1.5em;
      cursor: pointer;
    }

    &:hover .masthead__submenu,
    &.active .masthead__submenu {
      display: block;
    }
  }
}

.masthead__submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--global-bg-color);
  min-width: 200px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  margin: 0;
  padding: 0.5em 0;
  list-style-type: none;
  border: 1px solid var(--global-border-color);
  border-radius: 4px;

  li {
    display: block;
    margin: 0;
    padding: 0;

    a {
      display: block;
      padding: 0.5em 1em;
      color: var(--global-text-color);
      text-decoration: none;
      white-space: nowrap;
      font-weight: normal;

      &:hover {
        background-color: var(--global-border-color);
        color: var(--global-link-color-hover);
      }
    }
  }
}